APP_NAME="Nama Aplikasi"
APP_URL=http://localhost/travel-app-output
APP_ENV=development
APP_DEBUG=true
APP_KEY=ganti-dengan-random-string-32-karakter

DB_HOST=localhost
DB_PORT=3306
DB_NAME=travel_app
DB_USER=root
DB_PASS=

GOOGLE_MAPS_KEY=YOUR_GOOGLE_MAPS_API_KEY_HERE

MIDTRANS_CLIENT_KEY=SB-Mid-client-xxxx
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxx
MIDTRANS_IS_PRODUCTION=false
